html, body, #app {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-size: 14px;
}

*, :after, :before {
    box-sizing: inherit;
}

// html * {
//     outline: 1px solid pink;
// }
