#nprogress .bar {
  z-index: 9999 !important;
  background: $--color-primary;
}

a {
  color: rgba(0, 0, 0, .65);
}

.com-pagination {
  margin-top: 18px;
  text-align: right;
  .el-pagination__sizes {
    .el-input__inner, .el-select__caret {
      height: 24px;
      line-height: 24px;
    }
  }
}
