html, body, #app {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-size: 14px;
}

*, :after, :before {
    box-sizing: inherit;
}
a {
  text-decoration: none;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

// html * {
//     outline: 1px solid pink;
// }
.app-wrapper {
  > .sidebar-container {
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .svg-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      font-size: 16px;
    }
    .svg-icon + span {
      display: inline-block;
      vertical-align: middle;
    }
    // scrollbar
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }
    .el-scrollbar {
      height: 100%;
    }
    .el-menu--collapse {
      width: 100% !important;
    }
  }
  &.collapse {
    > .main-container {
      margin-left: 54px;
    }
    > .sidebar-container {
      width: 54px;
      .submenu-title-nodropdown {
        padding: 0 !important;
        position: relative;
        
        .el-tooltip {
          padding: 0 !important;
        
          .svg-icon {
            margin-left: 20px;
          }
        }
      }
        
      .el-submenu {
        overflow: hidden;
        &>.el-submenu__title {
          padding: 0 !important;
        
          .svg-icon {
            margin-left: 20px;
          }
        
          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
        
      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.com-pagination {
  padding-top: 20px;
  text-align: right;
}
.media-form {
  flex: 0 0 auto;
  
  .el-row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1500px) {
  .media-form {
    /deep/ .el-col {
      width: 33.33%;
    }
  }
}

@media screen and (max-width: 1180px) {
  .media-form {
    /deep/ .el-col {
      width: 50%;
    }
  }
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;
#app1 {

    .main-container {
      min-height: 100%;
      transition: margin-left .28s;
      margin-left: $sideBarWidth;
      position: relative;
    }
  
    .sidebar-container {
      transition: width 0.28s;
      width: $sideBarWidth !important;
      background-color: $menuBg;
      height: 100%;
      position: fixed;
      font-size: 0px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      overflow: hidden;
  
      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
      }
  
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
  
      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }
  
      .el-scrollbar {
        height: 100%;
      }
  
      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 50px);
        }
      }
  
      .is-horizontal {
        display: none;
      }
  
      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }
  
      .svg-icon {
        margin-right: 16px;
      }
  
      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }
  
      // menu hover
      .submenu-title-noDropdown,
      .el-submenu__title {
        &:hover {
          background-color: $menuHover !important;
        }
      }
  
      .is-active>.el-submenu__title {
        color: $subMenuActiveText !important;
      }
  
      & .nest-menu .el-submenu>.el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $sideBarWidth !important;
        background-color: $subMenuBg !important;
  
        &:hover {
          background-color: $subMenuHover !important;
        }
      }
    }
  
    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }
  
      .main-container {
        margin-left: 54px;
      }
  
      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;
  
        .el-tooltip {
          padding: 0 !important;
  
          .svg-icon {
            margin-left: 20px;
          }
        }
      }
  
      .el-submenu {
        overflow: hidden;
  
        &>.el-submenu__title {
          padding: 0 !important;
  
          .svg-icon {
            margin-left: 20px;
          }
  
          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
  
      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  
    .el-menu--collapse .el-menu .el-submenu {
      min-width: $sideBarWidth !important;
    }
  
    // mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }
  
      .sidebar-container {
        transition: transform .28s;
        width: $sideBarWidth !important;
      }
  
      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$sideBarWidth, 0, 0);
        }
      }
    }
  
    .withoutAnimation {
  
      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  }
  
  // when menu collapsed
  .el-menu--vertical {
    &>.el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }
  
    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHover !important;
      }
    }
  
    // the scroll bar appears when the subMenu is too long
    >.el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;
  
      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }
  
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
