$--color-primary: #346fff;
$--table-row-hover-background-color: #e6f7ff;
$--table-header-background-color: #FAFAFA;
$--table-header-font-color: #000;
$--dialog-box-shadow: 0 0 12px 6px rgba(66,133,244,.2);
$--popup-modal-background-color: #fff;
// $--sm: 768px;
// $--md: 992px;
// $--lg: 1200px;
$--xl: 1600px;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
