$--color-primary: #346fff;
$header-height: 60px;
$slide-width: 210px;
$slide-width--collapse: 54px;
$bread-height: 35px;
$footer-height: 60px;
$page-bg-color: #f0f2f5;

@mixin input-placeholder($color: #0DC8FD) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }

  /* WebKit browsers*/
  &::-webkit-input-placeholder {
    color: $color;
  }

  /* Firefox 4-18*/
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }

  /* Firefox 19+*/
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }

  /* IE 10+*/
  &:-ms-input-placeholder {
    color: $color;
  }
}