$--color-primary: #346fff;
$primary-bg-color: #f2f2f2;
$header-height: 60px;
$slide-width: 210px;
$slide-width--collapse: 60px;
$bread-height: 35px;
$footer-height: 60px;
$page-bg-color: #f0f2f5;
$toggle-theme-bar: 48px;

// 文字颜色（主要、常规、次要/说明、占位）
$color-text-primary: #333;
$color-text-regular: #666;
$color-text-secondary: #999;
$color-text-placeholder: #ccc;
// 线框颜色（一级、二级、三级）
$border-color-base: #dcdcdc;
$border-color-light: #E5E7F3;
$border-color-lighter: #EFF3FC;
// 字体
$font-size-extra-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;

@mixin input-placeholder($color: #0DC8FD) {
  &::placeholder {
    color: $color;
    opacity: 1;
  }

  /* WebKit browsers*/
  &::-webkit-input-placeholder {
    color: $color;
  }

  /* Firefox 4-18*/
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }

  /* Firefox 19+*/
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }

  /* IE 10+*/
  &:-ms-input-placeholder {
    color: $color;
  }
}
